* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
    --text : hsl(0, 2%, 17%);
    --lightgrey: hsl(0, 0%, 91%);
}

.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}

.f1 {flex:1;}
.f2 {flex:2;}
.f3 {flex:3;}
.f4 {flex:4;}
.f5 {flex:5;}
.f6 {flex:6;}
.f7 {flex:7;}
.f8 {flex:8;}
.p5 {padding: 5px;}
.white {color:white;}

.big-icon {font-size: 4rem;}
.mid-icon {font-size: 2rem;}
.top5 {
    position: relative;
    top: 5px;
}

header {
    width: 100vw;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: row;
}

header .title {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}
.screen {
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.screen.active {
    height: auto;
    opacity: 1;
    transition: opacity 100ms linear;
}
#specialite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 0px 10px;
}
.spacer {
    flex: 1 0 100%;
}
#specialite section {
    cursor: pointer;
    flex: 1 0 30%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 20px;
    aspect-ratio: 1/1;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    color: var(--text);
}
#specialite section .subtitle {
    font-size: .85rem;
}

#intervention .sub-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    background: #f4c6cb;  
    box-shadow: 0 0 5px lightgrey;
    text-transform: uppercase;
}
#intervention .tile {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--lightgrey);
    background-color: lightgrey;
    cursor: pointer;
    opacity: 0.3;
    border-bottom: 1px solid darkgrey;
}
#intervention .tile.selected {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--lightgrey);
    cursor: pointer;
    opacity: 1;
    transition: all 50ms linear;
    background: white;
    box-shadow: 0 0 10px grey inset;
}
#intervention .tile .tile-title {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    color: black;
}
#intervention .tile.selected .tile-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
 .main-atb ,.alternate-atb , .allergy-atb, .display-atb, .subtitle-atb {
    height: 0;
    overflow: hidden;
}
.tile.selected .subtitle-atb {
    color: darkblue;
    border-bottom: 1px solid black;
    margin: 10px 10px 0px 10px;
    font-weight: bold;
    height: auto;
}
.tile.selected .display-atb {
    height: auto;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkgreen;
    background: hsl(135, 18%, 87%);
    text-align: center;
    border: 2px solid darkgreen;
    border-radius: 5px;
}
.tile.selected .main-atb ,.tile.selected .alternate-atb , .tile.selected .allergy-atb {
    height: auto;
    overflow: visible;
    font-size: .75rem;
    padding: 5px;
    margin-left: 5px;
}
#intervention .tile .main-atb {
    font-weight: bold;
}
#intervention .tile .allergy-atb {
    font-weight: bold;
    color: darkred;
}